body{
    font-family: 'Nunito', sans-serif;
    letter-spacing:.0625rem !important;
}

#mainNav{
    background-color: rgba(22,22,22,0.9) !important;
       }
       
   #mainNav .navbar-toggler {
       font-size:80%;
       padding:0rem;
       border:1px solid rgba(255,255,255,.5);
       color: rgba(255,255,255,.5)
       }
   #mainNav .navbar-toggler:focus{
       outline:0
       }
   #mainNav .navbar-brand{
           color:#161616   ;
           font-weight:700;
           padding:.9rem 0
       }
   #mainNav .navbar-nav .nav-item:hover{
           color:rgba(255, 255, 255) !important;
           outline:0;
           background-color:rgba(0, 0, 0, 0.5) !important;
           
           
       }
   #mainNav .navbar-nav .nav-item:active,#mainNav .navbar-nav .nav-item:focus{
       outline:0;
       background-color:transparent
       }
       
       @media (min-width:992px){
           #mainNav{
               padding-top:0;
               padding-bottom:0;
               border-bottom:none;
               background-color:transparent;
               transition:background-color .3s ease-in-out
               color: rgba(255,255,255,.5)
           }
       }
   #mainNav .navbar-brand{
           padding:.5rem 0;
           color:rgba(255,255,255,.5)
       }
   #mainNav .nav-link{
       transition:none;
       padding:2rem 1.5rem;
       color:rgba(255,255,255,.5);
       
   }
   #mainNav .nav-link:hover{
       color:rgba(255, 255, 255) !important;
       border-bottom: solid rgb(190, 23, 23) !important;
       
   }
   #mainNav .nav-link:active{
       color:#rgba(255,255,255,0.7);
       border-bottom: solid rgb(190, 23, 23);
   }

   
   #mainNav .navbar-shrink{
       background-color:#fff;
   }
   #mainNav.navbar-shrink .navbar-brand{
       
   }
   #mainNav.navbar-shrink .nav-link{
       
       padding:1.5rem 1.5rem 1.25rem;
       border-bottom:.25rem solid transparent
   }
   
   #mainNav.navbar-shrink .nav-link.active{
       
       outline:0;
       border-bottom:.25rem solid rgb(190, 23, 23,.5)
   }

   
.masthead{
    position:relative;
    width:100%;
    height:auto;
    min-height:35rem;
    padding:15rem 0;
    background:linear-gradient(to bottom,rgba(0, 0, 0, 0.3) 0,rgba(0, 0, 0, 0.7) 90%, black 100%), url(../img/masthead-welding-2.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:scroll; 
    background-size:cover;
}

.masthead h1{
    font-family:'Varela Round';
    font-size:2rem !important;
    line-height:2rem;
    letter-spacing:.8rem;
    background:-webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,0));-webkit-text-fill-color:none;
    -webkit-background-clip:text;
    color: white !important;
    
}
.masthead h2{
    max-width:300rem !important;
    font-size:1rem;

}
    
    @media (min-width:768px){
        .masthead h1{
            font-size:4rem;
            line-height:4rem
        }
    }
    
    @media (min-width:992px){
        .masthead{height:100vh;padding:0
        }
        .masthead h1{
            font-size:6.5rem;
            line-height:6.5rem;
            letter-spacing:.8rem
        }
        .masthead h2{
            max-width:30rem;
            font-size:1.25rem
        }
    }

    
    
    .btn{
        box-shadow:0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
        padding:1.25rem 2rem !important;
        font-size:80%;
        text-transform:uppercase !important;
        letter-spacing:.15rem !important;
        border: none !important;
        font-family: 'Varela Round', sans-serif !important;
    }
    
    .btn-primary{
        background-color:rgb(190, 23, 23, .7) !important;
    }
    
    .btn-primary:hover{
        background-color: rgb(190, 23, 23) !important;
    }
    
    .btn-primary:focus{
        background-color:#4f837f;
        color:#fff
    
    }
    
    .btn-primary:active{
        color:#fff !important;
    }


    .about-section{
        padding:10rem 0;
        background: url("../img/pattern_bg.jpg");

        }
        
        .about-section p{
            margin-bottom:5rem
        }

        .about-section .text{
            
        }

        .projects-section{
            padding:10rem 0;
            
        }

        .project1{
            padding-right:1rem;
        }

        .project2{
            padding-left: 1rem;
        }

        .about-section .featured-text{
            padding:0 0 0 2rem;
        }

        .projects-section .project{
            font-size: 1.5rem;
        }

        .projects-section .project:hover{
            
            font-size: 1.6rem;
            padding: 0rem;
            margin: 0; 
        }



        .projects-section .featured-text{
            padding:2rem;
        }
            @media (min-width:992px){
                .projects-section .featured-text{
                    padding:0 0 0 2rem;
                }
            }
            
            .projects-section .project-text{
                padding:3rem;
                font-size:90%;
            }
            @media (min-width:992px){
                .projects-section .project-text{
                    padding:5rem
                }
                
                .projects-section .projects-title{
                    
                }

                    .filler:hover{
                        background-color: none;
                    }

                .projects-section .project-text hr{
                            
                    border-width:.25rem;
                    width:30%
                }
            }
            
            
.content-container{
    border: double rgb(190, 23, 23, .4);
    width: 80%;
    padding: 1rem;
}


.heading-text{
    font-size: 2.5rem;
    padding-left: 6.5rem;
    color: white;
    
    
}

.content-img{
    height:100%;
    width:100%;
}
.content-img-div{
    width:50%;
    height:auto;
    display: flex;
    align-items: center;
}

.content-text{
    color: rgba(255, 255, 255, 0.6);
    
}


.contact-section{
    padding:5rem 0 0;
    color: black !important;
    background: url("../img/pattern_bg.jpg");
    
}
    .contact-section .card{
        border:0;
        border-bottom:.25rem solid rgb(190, 23, 23, .7) !important;
        background: linear-gradient(to bottom,rgba(37, 37, 37, 0.3) 0,rgba(53, 53, 53, 0.171) 75%, black 100%),url(../img/FLIPPED_pattern.jpg); 
        
    
    }
    
    .contact-section .card h4{
        font-size:.8rem;
        font-family:'Nunito', sans-serif !important;
        text-transform:uppercase;
        letter-spacing:.15rem;
        
    }
    .icon{
        color:rgb(190, 23, 23, .7)!important;
    }
    
    .contact-section .card hr{
        border-color:rgb(190, 23, 23, .7) !important;
        border-width:.25rem;
        width:3rem;
    }
    .contact-section .social{
        margin-top:5rem
    }
    .contact-section .social a{
        text-align:center;
        height:3rem;
        width:3rem;
        background:rgba(255,255,255,.1);
        border-radius:100%;
        line-height:3rem;
        color:rgba(255,255,255,.3)}
        .contact-section .social a:hover{
            color:rgba(255,255,255,.5)
        }
        .contact-section .social a:active{
            color:#fff
        }
        a{
            color:#64a19d
        }
        a:focus,a:hover{
            text-decoration:none;
        }
        .bg-black{
            background-color:#161616!important}
            .bg-primary{
                background-color:#64a19d!important}
                
                .text-primary{color:#64a19d!important}
                footer{padding:5rem 0}

                .popup {
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                  }

                  .popup_2{
                    
                    text-align: left !important;
                  }
                  
                  /* The actual popup */
                  .popup .popuptext {
                    visibility: hidden;
                    width: 160px;
                    background-color: #555;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 8px 0;
                    position: absolute;
                    z-index: 1;
                    bottom: 125%;
                    left: 50%;
                    margin-left: -80px;
                  }
                  
                  /* Popup arrow */
                  .popup .popuptext::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent transparent;
                  }
                  
                  /* Toggle this class - hide and show the popup */
                  .popup .show {
                    visibility: visible;
                    -webkit-animation: fadeIn 1s;
                    animation: fadeIn 1s;
                  }

                  .popup .hide {
                      visibility: hidden;
                      -webkit-animation: fadeOut 1s;
                      animation: fadeOut 1s;
                      }
                  
                  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @-webkit-keyframes fadeOut{
      from {opacity: 1;}
      to {opacity: 0;}
  }
  @keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}
   
.fade-div{
    background:linear-gradient(to bottom,rgba(0, 0, 0, 0.99) 0,rgba(0, 0, 0, 0) 90%, rgba(0,0,0,0) 100%);
    margin: 0rem; 
    height: 3rem;
    
}


@media (max-width: 493px) {
    
.heading-text{
    font-size: 1rem !important;
    padding-right: 0rem;
    padding-left: 1rem !important;
    display: flex;
    
    width: 100% !important ;       
    justify-content: left;
}

.project1{
    padding: 0.5rem 0rem 0.5rem 0rem;

}

.project2{
    padding: 0.5rem 0rem 0rem 0rem;
}

.about-section .featured-text{
    padding: 0 !important;
    margin: 0 !important;
}

.projects-title{
    margin: 0rem 0rem 0.8rem 0rem !important;
    padding: 0 !important;
    display: block !important;
    text-align: center !important;
}


.masthead h1{
    font-size: 1rem !important;
}
 .contact-section{
     padding-bottom: 2rem !important;
 }

}

.active-link{
    
    color:#rgba(255,255,255,0.7);
    border-bottom: solid rgb(190, 23, 23);   
}

.text-box{
    padding: 1rem 0rem 1rem 0rem;
}